<h1>Custom Form Control Demo</h1>

<p>Below is a form with all fields marked as required</p>
<p>The Age field has additional validation, namely:</p>
<div>
  <ol>
    <li>Min value of 1</li>
    <li>Max value of 99</li>
    <li>Can only be whole numbers</li>
  </ol>
</div>
<form [formGroup]="demoForm">
  <div>
    <label>First Name</label>
    <input type="text" formControlName="firstName"/>
  </div>
  <div>
    <label>Last Name</label>
    <input type="text" formControlName="lastName"/>
  </div>
  <div>
    <label>Age</label>
    <input type="number" formControlName="age"/>
  </div>
</form>

<table>
  <thead>
  <tr>
    <th>Control Name</th><th>Valid?</th><th>Error</th><th>Value</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let item of demoForm.controls | keyvalue">
    <td>{{item.key}}</td>
    <td>{{demoForm.controls[item.key].valid ? 'yes' : 'no'}}</td>
    <td>
      <ng-container *ngIf="demoForm.controls[item.key].errors as errors">
        <pre><ng-container *ngFor="let error of errors | keyvalue">{{error.key}}: {{error.value}}<br/></ng-container></pre>
      </ng-container>
    </td>
    <td>{{demoForm.controls[item.key].value}}</td>
  </tr>
  </tbody>
</table>

<div>
  References:
  <ul>
    <li>https://blog.angular-university.io/angular-custom-validators//</li>
  </ul>
</div>
